/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

:root {
  --header-height: 60px;
  --footer-height: 60px;

  --blue-50: #f5f9ff;
  --blue-100: #d0e1fd;
  --blue-200: #abc9fb;
  --blue-300: #85b2f9;
  --blue-400: #609af8;
  --blue-500: #3b82f6;
  --blue-600: #326fd1;
  --blue-700: #295bac;
  --blue-800: #204887;
  --blue-900: #183462;
}

/* NAVBAR */

.navbar {
  grid-area: header;
  background-color: var(--blue-200);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px 5px 3px 5px;
}

.logo {
  height: 44px;
  width: 44px;
}

.title {
  color: var(--blue-800);
  display: inline-block;
  font-size: 1.25rem;
  padding-top: 10px;
}

.navbar-links {
  padding-left: 30px;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a:hover {
  background-color: var(--blue-100);
  border-radius: 5px;
  transition: 0.3s ease;
}

.navbar-links li a {
  text-decoration: none;
  display: block;
  color: var(--blue-800);
  padding: 1rem;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 23px;
  width: 23px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--blue-900);
  border-radius: 10px;
}

@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    padding-left: 0px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* END NAVBAR */

/* GRID LAYOUT */

#root {
  display: grid;
  gap: 0px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.content {
  min-height: calc(100vh - (var(--footer-height) + var(--header-height)));
  grid-area: content;
}
.footer {
  grid-area: footer;
  background-color: var(--blue-200);
  text-align: center;
  height: 60px;
}

.footer a {
  color: var(--blue-800);
}

/* END GRID LAYOUT */

.span_link {
  color: blue;
  text-decoration: underline;
}

.span_link:hover {
  cursor: pointer;
  text-decoration: none;
}

.rounded-button-container {
  margin-top: 3px;
}

.rounded-button {
  background-color: #abc9fb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: blue;
  padding: 1px 8px 1px 5px;
  font-size: 10px;
  margin-left: 8px;
}

.rounded-button:hover {
  cursor: pointer;
  background-color: blue;
  color: #ffffff;
}

.we-menu {
  display: flex;
  align-items: flex-start;
}

.workout {
  font-size: 14px;
}

.workout h4 {
  color: var(--blue-600);
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.workout h3 {
  color: var(--blue-800);
  font-weight: bold;
  font-size: 14px;
  padding: 0;
  margin: 6px 0 0 0;
}

/* EASY-EDIT */
/* .easy-edit-button {
  display: none !important;
} */
.easy-edit-wrapper {
  display: inline-block !important;
}

.clickable:hover {
  cursor: pointer;
}

textarea {
  resize: both;
}

.bi {
  color: var(--blue-600);
}

.bi-label {
  color: var(--blue-600);
}
.bi-label:hover {
  cursor: pointer;
}
